* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.todo-app {
  color:black;
  width: 30vw;
  height: 30vw;
  background-color: aliceblue;
  margin: 5vw auto 0;
}

