* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 1rem;
}
.todo-app {
  color: black;
  width: 60vw;
  height: 60vw;
  background-color: aliceblue;
  margin: 5vw auto 0;
  padding: 1rem;
  border-radius: 1rem;
}
span img {
  height: 2vw;
  width: 4vw;
  padding-left: 5px;
}
.todo-app h2 {
  margin-top: 2vw;
  margin-left: 4vw;
  font-size: 3vw;
  display: flex;
  align-items: center;
}
#search {
  font-size: 2.25vw;
  border: none;
  outline: none;
  color: green;
  width: 100%;
  background: #e3e3e3;
}

::placeholder {
  color: green;
}
#button {
  font-size: 2.25vw;
  border: none;
  outline: none;
  color: green;
  background-color: grey;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.row {
  margin-left: 3vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: #e3e3e3;
  margin-top: 4vw;
  border-radius: 30px;
  padding :1.25vw 1.75vw;
  border: 2px solid red;
  width: 90%;
}
.list-area {
  margin: 5vw 0 0 1vw;
}
li{
  margin-left: 3vw;
  margin-bottom: 0;
  font-size: 2.5vw;
  list-style: none;
  padding: 0.25rem 0rem;
}
ul li::before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  color: red;

}